.sold_out_tag {
	display: block !important;
/* 	background: #ff0000 !important;
	color: #fff !important;	
	border: 2px black solid !important;
	left: 43% !important;
	top: 43% !important;
	padding: 10px !important; */
}